body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #e9e9e9;
}

.date {
  color: #3b5999;
}

.keywords {
  font-size: 1.3vh;
}

.navLinks {
  color: white;
}

.navLinks:hover {
  color: #0e1438;
}

.content {
  font-size: 1.6vh;
  height: 340px;
}

.featuredcontent {
  font-size: 1.8vh;
  height: 220px;
}

.footer {
  border-top: 1px solid black;
}

.mainNavbar {
  background-color: #3b5999;
}

.pagescontent {
  font-size: 1.6vh;
  height: 240px;
}

.time {
  background-color: #d3d3d5;
  border-bottom: 1px solid black;
}

.leftnewstitle,
.featured {
  border-bottom: 1px solid black;
}
